# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/_ReSharper.Caches
/.vscode
/UserManager/lib/static
/Debug-x64/apache-jmeter-5.6.3
/Debug-x64/BuildTemp
/Debug-x64/logs
/Release-x64/BuildTemp
